.dpc-container.container {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.dpc-container .title {
    background-color: #eee;
    color: #000000;
    padding: 10px;
    font-weight: bold;
    font-size: 1.0em;
    text-align: center;
    flex: 0 0 auto;
    
}

.dpc-container .lm-panel {
    padding: 2px;
}

.dpc-container .scroller {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    flex: 1 1 auto;
}

.rce-input-buttons .p-button {
    height: 32px !important;
    width: 32px !important;
}

.rce-container-input {
    background-color: #eee !important; ;
    padding: 2px 0px 7px 6px !important;
    flex: 0 0 auto !important;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.dpc-container .rce-button  {
    background: #f60 !important ;
    color: #fff !important;
    font-weight: bold;    
}

.dpc-container .rce-container-mbox  {
    min-width: 200px !important;

}

.assistant-message .rce-mbox {
    background-color: #ffdcc6;
}

.assistant-message .rce-mbox-left-notch {
    fill: #ffdcc6;
}

.chat-mini-button-container .chat-mini-button {
    width: 30% !important;
    height: unset !important;
    padding: 1px;
    font-size: 10px !important;
    justify-content: center;
}


.chat-mini-button-container {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #eee;

    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

#tab-chat .rce-mbox-time {
    margin-top: -7px;
}

.rce-container-input .rce-input-textarea {
    height: 31px !important;
    padding: 5px 3px !important;
    resize: none !important;
}

#tab-chat .rce-mbox {
    padding: 3px 6px 4px;
}